/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dce0dc 15%,
        #dce0dc 100%
    );
    height: 100vh;
}